* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #4b1818;
    color: white;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

header {
    width: 100%;
    padding: 15px 0;
    position: fixed;
    background: rgba(73, 46, 46, 0.8);
    
}

nav {
    display: flex;
    justify-content: center;
    gap: 25px;
    align-items: center;
}

nav a {
    color: rgb(210, 163, 163);
    text-decoration: none;
    font-size: 17px;
    letter-spacing: 1px;
    transition: 0.3s;
}


.cart {
    font-size: 20px;
}

.hero {
    height: 100vh;
    background: url("https://images4.alphacoders.com/978/thumb-1920-978498.jpg") center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 80px;
}

.hero h1 {
    font-size: 50px;
    max-width: 80%;
    text-shadow: 0px 0px 10px black;
}

.section {
    padding: 12px 10%;
    text-align: center;
}

.section h2 {
    font-size: 40px;
    margin-bottom: 10px;
    
}

.section p {
    font-size: 18px;
    max-width: 900px;
    margin: auto;
    margin-bottom: 40px;
   
}

/* IMAGE GRID */
.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    
    margin-top: 80px;
    text-align: centre;
}

.image-grid img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 12px;
    border: 2px solid #444;
    transition: 0.3s ease;
}

.image-grid img:hover {
    transform: scale(1.05);
    border-color: #c6a10b;
}

.image-grid p {
    margin-top: 10px;
    font-size: 16px;
}
html {
    scroll-behavior: smooth;
}



